footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

footer ul{
  list-style: none;
}

.image-container{
  display: flex;
  justify-content: center;
}

.main-links-ul{
  display: flex;
  justify-content: center;
}