.homepage {
  margin: 3rem auto;
  text-align: center;
  width: 80%;
  max-width: 40rem;
  border-radius: 6px;
  background-color: black;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: #f9f9f9;
}

.homepage h1 {
  font-size: 5rem;
  margin: 1.5rem auto;
}

.homepage p {
  width: 90%;
  margin: 15px auto;
}

a.link {
  color: #a54e4e;
  text-decoration: none;
}

a.link:hover {
  color: #f9f9f9;
}

.white-button {
  background: #ebbb11;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  color: #183153;
  font-size: 16px;
  color: #f9f9f9;
}

button:hover {
  background: #ffd43b;
  border-color: #f9f9f9;
}

/* normal: #ebbb11 hover: #ffd43b */

@media screen and (max-width: 768px) {
  .homepage h1 {
    font-size: 4rem;
  }
}

span {
  color: #a54e4e;
  text-transform: uppercase;
  font-weight: 700;
}
