.homepage {
  margin: 3rem auto;
  text-align: center;
}

.homepage h1 {
  font-size: 5rem;
}

a.link {
  color: #a54e4e;
  text-decoration: none;
}

a.link:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .homepage h1 {
    font-size: 4rem;
  }
}
